.navbar{
    background-color: rgb(21, 20, 20);
}

.navbar h2{
    color: rgb(255, 0, 123);
}

.navbar button{
    border: rgb(255, 0, 123);
}

.navbar h3{
    color: rgb(255, 0, 123);
}

/* end of the nav bar */


/* Home section */
.home{
    background-color: rgb(35, 35, 35);
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.home img{
    width: 350px;
    height: 356px;
    border-radius: 50%;
} 

.home .image{
    background-color: rgb(255, 0, 123);
    border-radius: 50%;
    width: 360px;
    height: 366px;
    margin-left: 15px;
}

.home-details, .about-details{
    color: white;
}

.home-details h1{
    font-size: 60px;
}

.home-details h2{
    color: rgb(255, 0, 123)
}

.home-details h1 .lastword{
    color: rgb(255, 0, 123);
    font-family: Arial, Helvetica, sans-serif;
}

.home-details .country{
    font-size: 45px;
}

.home-details .button button,
.contactUs .button input[type='submit']{
    background-color: rgb(255, 0, 123);
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    margin-top: 20px;
    width: 200px;
}

.home-details .button button:hover,
.contactUs .button input[type='submit']:hover{
    background-color: rgb(249, 112, 192);
    color: rgb(35, 35, 35);
}

.about{
    background-color: rgb(44, 41, 41);
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about .about-image img{
    width: 350px;
    height: 356px;
    border-radius: 50%;
    padding: 30px;
} 


.about-details h2 .lastword, 
.services-details h2 .lastword,
.projects h2 .lastword,
.certificate-details h2 .lastword,
.contactUs-details h2 .lastword{
    color: rgb(255, 0, 123);
    font-family: Arial, Helvetica, sans-serif;
}

.about-details h3{
    color: rgb(255, 0, 123);    
}


.about-details p{
    font-size: 18px;
    text-align: justify;
}

.about .about-image .image{
    background-color: transparent;
    border-width: 10px 10px 0px 0px;  
    border-style: solid;
    border-color: rgb(255, 0, 123);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    /* margin-left: 100px; */
}

.about-details h2{
    font-size: 50px;
    text-align: center;
}


.services, 
.certificates{
    background-color: rgb(35, 35, 35);
    color: #ffffff;
}


.services h2,
.projects h2,
.contactUs-details h2,
.certificate-details h2,
.contactUs-details h2{
    font-size: 50px;
    text-align: center;
    padding: 50px;
}

.sections .container{
    display: flex;
    padding-bottom: 100px;
    justify-items: center;
}


.projects{
    background-color: rgb(44, 41, 41);
    color: #ffffff;
    padding-bottom: 100px;
}

.projects h3{
    color: rgb(255, 0, 123);
    font-size: 30px;
}


.projects .container .row .card{
    margin: auto;
    margin-bottom: 25px;
 
}


.certificates .container{
    padding-bottom: 100px;
}



.contactUs{
    background-color: rgb(44, 41, 41);
    color: #ffffff;
    padding-bottom: 100px;
}

.bottom{
    background-color: rgb(21, 20, 20);
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
    color: #ffffff;
}

/* ............................................................................................................... */
